.footer {
    padding: 10px;
    height: 250px;
    background-color: #f0f1f1;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
  }
  .footerColunm {
    display: flex;
    flex-direction: column;
  }
  .footerNav {
    display: block;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  .socialLink {
    text-decoration: none;
    color: #000;
  }
  .emailLink {
    color: #000;
  }
  .colunmsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media (min-width: 1024px){
    .footer {
      width: 100%;
      justify-content: center;
    }
    .footerNav {
      display: flex;
      gap: 10px;
      width: 200px;
      float: left;
      padding: 0;
      margin: 0;
    }
  
    .colunmsContainer {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }
  }